{%extends 'catalog/base.html'%}
{%load static%}
{%load my_media%}

{%block content%}
<div class="card">
    <div class="card-body">
        <h1>{{product.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                {%if product.image%}
                <img src="{%my_media product.image%}" class="img-thumbnail" >
                {%else%}
                <img src="{%static 'img/nopfoto.jpg'%}" class="img-thumbnail">
                {%endif%}
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <h1>{{product.price}} руб.</h1>
                <a href="#" class="btn btn-primary">В корзину</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}