{%extends 'catalog/base.html'%}
{%load static%}
{%load my_media%}

{%block content%}
<br>
<div class="container overflow-hidden text-center">
    <div class="row gy-5">
        {%for product in object_list%}
        <div class="col-4">
            <div class="card" style="width: 18rem;">

                {%if product.image%}
                <img src="{%my_media product.image%}" class="card-img-top" width="243px" height="203px">
                {%else%}
                <img src="{%static 'img/nopfoto.jpg'%}" class="card-img-top">
                {%endif%}

                <div class="card-body">
                    {%if product.name|length > 20%}
                    <h5 class="card-title">{{product.name|slice:":20"}}...</h5>
                    {%else%}
                    <h5 class="card-title">{{product.name}}</h5>
                    {%endif%}
                    <p class="card-text"> {{product.description|slice:":100"}} </p>
                    <a href="{%url 'catalog:product' product.pk%}" class="btn btn-primary">Купить за {{product.price}}
                        руб.</a>
                </div>

            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}